iPCR/iPCR-tools/.idea
iPCR/iPCR-tools/.gradle
iPCR/iPCR-tools/gradle
iPCR/iPCR-tools/build/classes
iPCR/iPCR-tools/build/tmp
iPCR/iPCR-tools/build/resources
iPCR/iPCR-tools/gradlew
iPCR/iPCR-tools/gradlew.bat
