pipeline/iPCR-tools/.idea
pipeline/iPCR-tools/.gradle
pipeline/iPCR-tools/gradle
pipeline/iPCR-tools/build/classes
pipeline/iPCR-tools/build/tmp
pipeline/iPCR-tools/build/resources
pipeline/iPCR-tools/gradlew
pipeline/iPCR-tools/gradlew.bat
